@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #070707;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; }

.main-wrapper {
  margin: 0 auto;
  max-width: 2000px;
  overflow: hidden; }

:root {
  --primary: #2dde7e;
  --secondary: #221f1f;
  --black: #1b1a1a;
  --light-gray: #979797; }

.primary-cta {
  background: var(--primary);
  color: var(--black); }

.primary-cta {
  background: var(--primary);
  color: var(--black);
  text-decoration: none;
  border-radius: 6px;
  padding: 18px 64px;
  border: 1px solid var(--primary);
  transition: ease-in-out 150ms;
  display: inline-block;
  font-weight: 600;
  cursor: pointer; }
  .primary-cta:hover {
    background: none;
    color: white;
    border: 1px solid var(--primary); }

.outline-cta {
  background: none;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  padding: 12px 15px;
  border: 1px solid white;
  transition: ease-in-out 150ms;
  display: inline-block;
  margin-top: 10px; }
  .outline-cta:hover {
    background: var(--primary);
    color: white;
    border: 1px solid var(--primary); }

.header-row {
  display: flex;
  justify-content: space-between;
  padding: 30px; }

ul.desktop-menu {
  display: flex;
  gap: 30px; }

.desktop-menu li a {
  color: var(--light-gray);
  text-decoration: none;
  transition: ease-in-out 200ms; }
  .desktop-menu li a:hover {
    color: white; }
.desktop-menu .contact-cta {
  background: var(--primary);
  color: var(--black);
  text-decoration: none;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid var(--primary);
  transition: ease-in-out 150ms; }
  .desktop-menu .contact-cta:hover {
    background: none;
    color: white;
    border: 1px solid var(--primary); }

section .section-wrapper {
  max-width: 1400px;
  margin: auto; }

.we-do {
  color: black;
  display: table;
  font-size: 32px;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
  font-weight: 700; }

.hero-color {
  color: #2dde7e; }

.hero-heading {
  font-size: 54px;
  line-height: 75px;
  text-shadow: 0px 4px 15px rgba(45, 222, 126, 0.65);
  max-width: 580px;
  margin-bottom: 40px;
  font-weight: 700; }

.hero-section {
  position: relative; }
  .hero-section::before {
    position: absolute;
    content: "";
    background: url(../images/green-circle.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: -200px;
    z-index: -1; }
  .hero-section::after {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    z-index: -1;
    width: 670px;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: -100px;
    right: 0px; }

.heading-container h2 {
  color: #ffffff;
  text-shadow: 0px 4px 15px rgba(45, 222, 126, 0.65);
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px; }

#expertise {
  margin-top: 100px; }

.center-para {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 850px;
  margin: auto; }

.expertise-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  margin-top: 60px;
  grid-row-gap: 92px;
  grid-column-gap: 55px;
  width: 1200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

.expertise-column {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #393636;
  padding: 55px 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  transition: ease-in-out 150ms; }
  .expertise-column:hover {
    background: #226c44; }
  .expertise-column .outline-cta {
    background: white;
    color: var(--black); }

.expert-icon {
  position: absolute;
  top: -40px; }

.expert-cta-row {
  margin-top: auto; }

.full-row-cta {
  width: 100%;
  text-align: center;
  margin: 30px auto; }

#work {
  margin-top: 150px; }

.heading-container h2 {
  position: relative;
  display: table;
  margin: auto; }
  .heading-container h2::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 3px;
    background: #2dde7e;
    left: -12px; }
  .heading-container h2::after {
    position: absolute;
    content: "";
    width: 115px;
    height: 25px;
    background: #2dde7e;
    bottom: 0;
    z-index: -1;
    right: -15px; }

.work-container {
  max-width: 1200px;
  margin: auto; }

.work-row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top: 50px; }

.work-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid #484848;
  border-radius: 10px; }

.work-box {
  background: #221f1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .work-box p {
    font-size: 16px;
    line-height: 24px; }
  .work-box .tags {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; }
  .work-box span {
    background: #51535a;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    border-radius: 5px; }

.work-box h3 {
  margin-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  align-items: center;
  color: #2dde7e; }

.work-cta-row {
  display: flex;
  justify-content: space-between; }
  .work-cta-row a {
    padding: 15px 20px;
    margin: 0;
    text-decoration: none; }

#what-is {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 70px;
  margin-top: 70px; }

.web3 {
  margin-top: 30px;
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out 300ms;
  cursor: pointer; }
  .web3:hover .play-btn {
    transform: scale(1.3); }

.play-btn {
  position: absolute;
  margin: auto;
  display: table;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: scale(1);
  transition: ease-in-out 300ms; }
  .play-btn:hover {
    transform: scale(1.3); }

.team-row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.team-col {
  width: 230px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  gap: 10px; }
  .team-col .avatar {
    max-width: 98px;
    display: table;
    margin: auto; }

.team-social {
  display: flex;
  gap: 20px;
  justify-content: center; }

.testi-col {
  background: #221f1f;
  border: 1px solid #484848;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  max-width: 550px; }

.slick-track {
  display: flex !important;
  gap: 40px; }

.testimonial-message {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff; }

.testimonial-person {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  align-items: center; }

.testimonial-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px; }

#testimonials {
  margin-top: 100px; }

.testimonial-row {
  margin-top: 100px; }

.slick-slide {
  opacity: 0.5;
  transition: ease-in-out 300ms;
  position: relative;
  top: 0px; }

.slick-slide.slick-center {
  opacity: 1;
  top: -50px; }

.testimonial-row .slick-list {
  overflow: visible; }

.slick-slider button {
  position: absolute;
  bottom: 0; }

.prev {
  display: block;
  position: absolute;
  right: 0px;
  /* transform: translateY(-50%); */
  z-index: 1000;
  left: -140px;
  margin: auto;
  width: 35px;
  height: 25px;
  background-image: url(../images/previous.svg);
  display: block;
  z-index: 3;
  background-repeat: no-repeat;
  cursor: pointer;
  bottom: -12px; }

.next {
  display: block;
  position: absolute;
  right: 0px;
  /* top: 50%; */
  transform: translateY(-50%);
  z-index: 1000;
  left: 0;
  margin: auto;
  width: 84px;
  height: 50px;
  background-image: url(../images/next.svg);
  display: block;
  z-index: 3;
  background-repeat: no-repeat;
  cursor: pointer; }

#contact {
  max-width: 800px;
  margin: 120px auto 30px; }

.contact-heading {
  text-align: center;
  margin-bottom: 30px; }
  .contact-heading h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #2dde7e; }
  .contact-heading p {
    font-size: 18px;
    line-height: 27px; }

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .contact-form input {
    width: 100%; }

.contact-row {
  display: flex;
  gap: 20px; }
  .contact-row input {
    width: 100%;
    background: #221f1f;
    border: 2px solid #484848;
    border-radius: 10px;
    padding: 15px 30px; }
  .contact-row textarea {
    width: 100%;
    background: #221f1f;
    border: 2px solid #484848;
    border-radius: 10px;
    padding: 15px 30px;
    max-height: 340px;
    resize: none; }

.checkbox-row {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 20px; }
  .checkbox-row input {
    width: 29.67px;
    height: 29.67px;
    background: #484848;
    border-radius: 4px; }

.contact-form-cta {
  text-align: center;
  margin-bottom: 30px; }
  .contact-form-cta button {
    cursor: pointer;
    background: var(--primary);
    color: var(--black);
    text-decoration: none;
    border-radius: 6px;
    padding: 18px 64px;
    border: 1px solid var(--primary);
    transition: ease-in-out 150ms;
    display: inline-block;
    font-weight: 600; }
    .contact-form-cta button:hover {
      background: none;
      color: white;
      border: 1px solid var(--primary); }

footer {
  max-width: 1200px;
  margin: auto;
  border-top: 3px solid #484848;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; }
  footer span {
    font-size: 12px; }
  footer div {
    border-right: 1px solid #484848;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; }
    footer div:last-child {
      border: 0px; }
  footer a {
    color: white;
    text-decoration: none; }

.bg-x-effect {
  position: relative; }
  .bg-x-effect::before {
    position: absolute;
    content: "";
    background: url(../images/green-circle.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: -200px;
    z-index: -1; }
  .bg-x-effect::after {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    z-index: -1;
    width: 670px;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: -100px;
    right: 0px; }

.blockchain-section-effect {
  position: relative; }
  .blockchain-section-effect::before {
    position: absolute;
    content: "";
    background: url(../images/small-circle.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: 130px;
    z-index: -1;
    left: -20vw; }
  .blockchain-section-effect::after {
    position: absolute;
    content: "";
    background: url(../images/small-circle.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: 130px;
    z-index: -1;
    right: calc(100vw - 160vw); }

.work-section-effect {
  position: relative; }
  .work-section-effect::before {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    bottom: -757px;
    z-index: -1;
    left: -172px;
    background-size: 30%; }

.web3-section-effect {
  position: relative; }
  .web3-section-effect::before {
    position: absolute;
    content: "";
    background: url(../images/small-circle.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: 130px;
    z-index: -1;
    left: -20vw; }
  .web3-section-effect::after {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: 35%;
    z-index: -1;
    right: calc(100vw - 176vw);
    background-size: 30%; }

.testimonial-section-effect {
  position: relative; }
  .testimonial-section-effect::before {
    position: absolute;
    content: "";
    background: url(../images/small-circle.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: -40px;
    z-index: -1;
    left: -20vw; }

.footer-section-effect {
  position: relative; }
  .footer-section-effect::after {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    width: 100%;
    height: 1600px;
    display: block;
    background-repeat: no-repeat;
    top: -37vh;
    z-index: -1;
    right: calc(100vw - 167vw);
    background-size: 25%; }

video {
  width: 100%; }

.daniyal {
  transform: scale(1.2);
  position: relative;
  top: -10px; }

.designation {
  color: #bdbdbd; }

.work-load-more-btn {
  margin: 40px auto;
  display: flex;
  justify-content: center; }

@media only screen and (max-width: 763px) {
  .modal .modal-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
    background: #2a2a2a;
    border-radius: 10px;
    border: 1px solid #545454; }
    .modal .modal-body .primary-cta {
      margin-bottom: 20px; }

  .modal .modal-content {
    opacity: 0;
    background: none;
    border-radius: 3px; }

  .modal .modal-body div {
    justify-content: center; }

  .modal-body img {
    max-height: 300px;
    margin: 20px; } }
@media only screen and (max-width: 1023px) {
  #d-menu {
    display: none; }

  #menuToggle {
    position: absolute;
    z-index: 10;
    right: 20px;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
    top: 26px; }

  .hero-content {
    padding: 0px 30px; }

  .we-do {
    font-size: 26px; }

  .hero-heading {
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 20px; }

  .heading-container h2 {
    font-size: 34px;
    line-height: 46px; }

  .center-para {
    font-size: 15px;
    line-height: 27px; }

  section {
    padding-left: 30px;
    padding-right: 30px; }

  .expertise-row {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center; }

  .expert-icon {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0; }

  #work {
    margin-top: 100px; }

  .work-row {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin-top: 50px; }

  .work-col {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    border: 1px solid #484848;
    border-radius: 10px;
    width: auto; }

  .hero-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    background-size: contain;
    left: 0; }

  .hero-section::after {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    top: -100px;
    right: 0px;
    background-size: contain;
    background-position: right; }

  .blockchain-section-effect::before {
    background-repeat: no-repeat;
    top: 130px;
    z-index: -1;
    left: -50%;
    background-size: contain; }

  .blockchain-section-effect::after {
    position: absolute;
    content: "";
    background: url(../images/small-circle.png);
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    top: 570px;
    z-index: -1;
    right: -50%;
    background-size: contain; }

  .web3 img {
    width: 100%; }

  .play-btn img {
    width: 80px; }

  .web3-section-effect::before {
    left: -38vw;
    background-size: contain; }

  .web3-section-effect::after {
    width: 100%;
    height: 100%;
    top: 200%;
    z-index: -1;
    right: 0;
    background-size: contain;
    background-position: right; }

  #what-is {
    padding: 0px 30px;
    margin-top: 125px;
    margin-bottom: 125px; }

  .testi-col {
    flex-direction: column;
    padding: 30px 20px;
    max-width: 322px; }

  .testimonial-message {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #ffffff; }

  .testimonial-designation {
    font-size: 15px;
    line-height: 18px; }

  .slick-track {
    gap: 20px; }

  .checkbox-row {
    font-size: 14px; }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column; }
    footer div {
      border-right: 0px solid #484848; }

  .expertise-column {
    width: 340px; } }
@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  .hero-content {
    padding: 0px 30px; }

  .we-do {
    font-size: 30px; }

  .hero-heading {
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px; }

  .heading-container h2 {
    font-size: 54px;
    line-height: 46px; }

  .center-para {
    font-size: 16px;
    line-height: 27px; }

  section {
    padding-left: 30px;
    padding-right: 30px; }

  .expertise-row {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center; }

  .expert-icon {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0; }

  #work {
    margin-top: 100px; }

  .work-row {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin-top: 50px; }

  .work-col {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    border: 1px solid #484848;
    border-radius: 10px;
    width: auto; }

  .hero-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    background-size: contain;
    left: 0; }

  .hero-section::after {
    position: absolute;
    content: "";
    background: url(../images/x-bg.png);
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    top: -100px;
    right: 0px;
    background-size: contain;
    background-position: right; }

  .blockchain-section-effect::before {
    background-repeat: no-repeat;
    top: 130px;
    z-index: -1;
    left: -50%;
    background-size: contain; }

  .blockchain-section-effect::after {
    position: absolute;
    content: "";
    background: url(../images/small-circle.png);
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    top: 570px;
    z-index: -1;
    right: -50%;
    background-size: contain; }

  .web3 img {
    width: 100%; }

  .play-btn img {
    width: 80px; }

  .web3-section-effect::before {
    left: -38vw;
    background-size: contain; }

  .web3-section-effect::after {
    width: 100%;
    height: 100%;
    top: 200%;
    z-index: -1;
    right: 0;
    background-size: contain;
    background-position: right; }

  #what-is {
    padding: 0px 30px;
    margin-top: 125px;
    margin-bottom: 125px; }

  .testi-col {
    flex-direction: column;
    padding: 30px 20px;
    max-width: 322px; }

  .testimonial-message {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #ffffff; }

  .testimonial-designation {
    font-size: 15px;
    line-height: 18px; }

  .slick-track {
    gap: 20px; }

  .checkbox-row {
    font-size: 14px; }

  .expertise-column {
    width: 340px; } }
@media only screen and (min-width: 1023px) {
  #mobile_menu,
  #menuToggle {
    display: none; } }
/*!
 * Mmenu Light
 * mmenujs.com/mmenu-light
 *
 * Copyright (c) Fred Heusschen
 * www.frebsite.nl
 *
 * License: CC-BY-4.0
 * http://creativecommons.org/licenses/by/4.0/
 */
:root {
  --mm-ocd-width: 80%;
  --mm-ocd-min-width: 200px;
  --mm-ocd-max-width: 440px; }

body.mm-ocd-opened {
  overflow-y: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none; }

.mm-ocd {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: bottom, background-color;
  -o-transition-property: bottom, background-color;
  transition-property: bottom, background-color;
  -webkit-transition-duration: 0s, 0.3s;
  -o-transition-duration: 0s, 0.3s;
  transition-duration: 0s, 0.3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0.45s, 0.15s;
  -o-transition-delay: 0.45s, 0.15s;
  transition-delay: 0.45s, 0.15s; }

.mm-ocd--open {
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

.mm-ocd__content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: var(--mm-ocd-width);
  min-width: var(--mm-ocd-min-width);
  max-width: var(--mm-ocd-max-width);
  background: #fff;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.mm-ocd--left .mm-ocd__content {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.mm-ocd--right .mm-ocd__content {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.mm-ocd--open .mm-ocd__content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.mm-ocd__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: clamp(calc(100% - var(--mm-ocd-max-width)), calc(100% - var(--mm-ocd-width)), calc(100% - var(--mm-ocd-min-width)));
  background: rgba(3, 2, 1, 0); }

.mm-ocd--left .mm-ocd__backdrop {
  right: 0; }

.mm-ocd--right .mm-ocd__backdrop {
  left: 0; }

.mm-spn,
.mm-spn a,
.mm-spn li,
.mm-spn span,
.mm-spn ul {
  display: block;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  --mm-spn-item-height: 50px;
  --mm-spn-item-indent: 20px;
  --mm-spn-line-height: 24px; }

.mm-spn {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.mm-spn ul {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 2;
  width: 130%;
  padding-right: 30%;
  line-height: var(--mm-spn-line-height);
  overflow: visible;
  overflow-y: auto;
  background: inherit;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  cursor: default; }

.mm-spn ul:after {
  content: "";
  display: block;
  height: var(--mm-spn-item-height); }

.mm-spn > ul {
  left: 0; }

.mm-spn ul.mm-spn--open {
  left: 0; }

.mm-spn ul.mm-spn--parent {
  left: -30%;
  overflow-y: hidden; }

.mm-spn li {
  position: relative;
  background: inherit;
  cursor: pointer; }

.mm-spn li:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--mm-spn-item-height) / 2);
  right: calc(var(--mm-spn-item-height) / 2);
  z-index: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  -ms-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  opacity: 0.4; }

.mm-spn li:after {
  content: "";
  display: block;
  margin-left: var(--mm-spn-item-indent);
  border-top: 1px solid;
  opacity: 0.15; }

.mm-spn a,
.mm-spn span {
  position: relative;
  z-index: 1;
  padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height)) / 2) var(--mm-spn-item-indent); }

.mm-spn a {
  background: inherit;
  color: inherit;
  text-decoration: none; }

.mm-spn a:not(:last-child) {
  width: calc(100% - var(--mm-spn-item-height)); }

.mm-spn a:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid;
  opacity: 0.15; }

.mm-spn span {
  background: 0 0; }

.mm-spn.mm-spn--navbar {
  cursor: pointer; }

.mm-spn.mm-spn--navbar:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--mm-spn-item-height) / 2);
  left: var(--mm-spn-item-indent);
  width: 10px;
  height: 10px;
  margin-top: 2px;
  border-top: 2px solid;
  border-left: 2px solid;
  -webkit-transform: rotate(-45deg) translate(50%, -50%);
  -ms-transform: rotate(-45deg) translate(50%, -50%);
  transform: rotate(-45deg) translate(50%, -50%);
  opacity: 0.4; }

.mm-spn.mm-spn--navbar.mm-spn--main {
  cursor: default; }

.mm-spn.mm-spn--navbar.mm-spn--main:before {
  content: none;
  display: none; }

.mm-spn.mm-spn--navbar:after {
  content: attr(data-mm-spn-title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--mm-spn-item-height);
  padding: 0 calc(var(--mm-spn-item-indent) * 2);
  line-height: var(--mm-spn-item-height);
  opacity: 0.4;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.mm-spn.mm-spn--navbar.mm-spn--main:after {
  padding-left: var(--mm-spn-item-indent); }

.mm-spn.mm-spn--navbar ul {
  top: calc(var(--mm-spn-item-height) + 1px); }

.mm-spn.mm-spn--navbar ul:before {
  content: "";
  display: block;
  position: fixed;
  top: inherit;
  z-index: 2;
  width: 100%;
  border-top: 1px solid currentColor;
  opacity: 0.15; }

.mm-spn.mm-spn--light {
  color: #444;
  background: #f3f3f3; }

.mm-spn.mm-spn--dark {
  color: #ddd;
  background: #333; }

.mm-spn.mm-spn--vertical {
  overflow-y: auto; }

.mm-spn.mm-spn--vertical ul {
  width: 100%;
  padding-right: 0;
  position: static; }

.mm-spn.mm-spn--vertical ul ul {
  display: none;
  padding-left: var(--mm-spn-item-indent); }

.mm-spn.mm-spn--vertical ul ul:after {
  height: calc(var(--mm-spn-item-height) / 2); }

.mm-spn.mm-spn--vertical ul.mm-spn--open {
  display: block; }

.mm-spn.mm-spn--vertical li.mm-spn--open:before {
  -webkit-transform: rotate(135deg) translate(-50%, 0);
  -ms-transform: rotate(135deg) translate(-50%, 0);
  transform: rotate(135deg) translate(-50%, 0); }

.mm-spn.mm-spn--vertical ul ul li:last-child:after {
  content: none;
  display: none; }

#menuToggle {
  position: absolute;
  z-index: 10;
  right: 20px;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
  top: 26px; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

body.modal-active {
  overflow: hidden; }

[data-toggle="modal"] {
  cursor: pointer; }

.modal,
.modal * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  background-color: transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

.modal.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.55); }

.modal.active .modal-dialog {
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal.active .modal-content {
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  opacity: 1; }

.modal-close {
  display: block;
  text-align: right;
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 34px;
  top: 5px;
  cursor: pointer;
  z-index: 10; }

.modal-content,
.modal-dialog {
  position: relative;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.modal-dialog {
  margin: 30px auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 600px;
  max-width: 94%; }

.modal-content {
  opacity: 0;
  background: #221f1f;
  border-radius: 3px; }

.modal-content:after {
  content: "";
  display: block;
  clear: both; }

.modal-lg .modal-dialog,
.modal-md .modal-dialog,
.modal-xl .modal-dialog {
  width: 94%; }

.modal-sm .modal-dialog {
  width: 450px; }

@media screen and (min-width: 576px) {
  .modal-xl .modal-dialog {
    width: 94%; }

  .modal-md .modal-dialog {
    width: 600px; } }
@media screen and (min-width: 768px) {
  .modal-xl .modal-dialog {
    width: 90%; }

  .modal-lg .modal-dialog {
    width: 750px; } }
@media screen and (min-width: 992px) {
  .modal-xl .modal-dialog {
    width: 900px; } }
/*# sourceMappingURL=modal.min.css.map */
.modal-body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center; }
  .modal-body p {
    font-size: 16px;
    line-height: 24px; }
  .modal-body img {
    width: 100%; }
  .modal-body div {
    display: flex;
    gap: 20px;
    padding: 0px 20px 0px 0px; }

.modal-body h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #2dde7e; }

.modal-box {
  display: flex;
  flex-direction: column; }

.modal-body {
  background: url(../images/pop-bg.png); }

/*# sourceMappingURL=main.css.map */
