html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}
body {
 line-height: 1;
}
ol,
ul {
 list-style: none;
}
blockquote,
q {
 quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content: "";
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

body {
 background-color: #070707;
 color: white;
 font-family: "Poppins", sans-serif;
 overflow-x: hidden;
}

.main-wrapper {
 margin: 0 auto;
 max-width: 2000px;
 overflow: hidden;
}

:root {
 --primary: #2dde7e;
 --secondary: #221f1f;
 --black: #1b1a1a;
 --light-gray: #979797;
}

.primary-cta {
 background: var(--primary);
 color: var(--black);
}

.primary-cta {
 background: var(--primary);
 color: var(--black);
 text-decoration: none;
 border-radius: 6px;
 padding: 18px 64px;
 border: 1px solid var(--primary);
 transition: ease-in-out 150ms;
 display: inline-block;
 font-weight: 600;
 cursor: pointer;
 &:hover {
  background: none;
  color: white;
  border: 1px solid var(--primary);
 }
}

.outline-cta {
 background: none;
 color: white;
 text-decoration: none;
 border-radius: 6px;
 padding: 12px 15px;
 border: 1px solid white;
 transition: ease-in-out 150ms;
 display: inline-block;
 margin-top: 10px;
 &:hover {
  background: var(--primary);
  color: white;
  border: 1px solid var(--primary);
 }
}

.header-row {
 display: flex;
 justify-content: space-between;
 padding: 30px;
}

ul.desktop-menu {
 display: flex;
 gap: 30px;
}

.desktop-menu {
 li a {
  color: var(--light-gray);
  text-decoration: none;
  transition: ease-in-out 200ms;

  &:hover {
   color: white;
  }
 }

 .contact-cta {
  background: var(--primary);
  color: var(--black);
  text-decoration: none;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid var(--primary);
  transition: ease-in-out 150ms;
  &:hover {
   background: none;
   color: white;
   border: 1px solid var(--primary);
  }
 }
}

section {
 .section-wrapper {
  max-width: 1400px;
  margin: auto;
 }
}

.we-do {
 color: black;
 display: table;
 font-size: 32px;
 -webkit-text-stroke: 1px white;
 text-transform: uppercase;
 font-weight: 700;
}

.hero-color {
 color: #2dde7e;
}

.hero-heading {
 font-size: 54px;
 line-height: 75px;
 text-shadow: 0px 4px 15px rgba(45, 222, 126, 0.65);
 max-width: 580px;
 margin-bottom: 40px;
 font-weight: 700;
}

.hero-section {
 position: relative;
 &::before {
  position: absolute;
  content: "";
  background: url(../images/green-circle.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: -200px;
  z-index: -1;
 }

 &::after {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  z-index: -1;
  width: 670px;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: -100px;
  right: 0px;
 }
}

.heading-container {
 h2 {
  color: #ffffff;
  text-shadow: 0px 4px 15px rgba(45, 222, 126, 0.65);
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
 }
}

#expertise {
 margin-top: 100px;
}

.center-para {
 text-align: center;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 max-width: 850px;
 margin: auto;
}

.expertise-row {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
 margin-top: 60px;
 grid-row-gap: 92px;
 grid-column-gap: 55px;
 width: 1200px;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
}
.expertise-column {
 position: relative;
 display: flex;
 flex-direction: column;
 background: #393636;
 padding: 55px 15px 20px;
 border-radius: 5px;
 font-size: 16px;
 line-height: 20px;
 transition: ease-in-out 150ms;
 &:hover {
  background: #226c44;
 }
 .outline-cta {
  background: white;
  color: var(--black);
 }
}

.expert-icon {
 position: absolute;
 top: -40px;
}

.expert-cta-row {
 margin-top: auto;
}

.full-row-cta {
 width: 100%;
 text-align: center;
 margin: 30px auto;
}

#work {
 margin-top: 150px;
}

.heading-container h2 {
 position: relative;
 display: table;
 margin: auto;
 &::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 3px;
  background: #2dde7e;
  left: -12px;
 }
 &::after {
  position: absolute;
  content: "";
  width: 115px;
  height: 25px;
  background: #2dde7e;
  bottom: 0;
  z-index: -1;
  right: -15px;
 }
}

.work-container {
 max-width: 1200px;
 margin: auto;
}

.work-row {
 display: flex;
 flex-wrap: wrap;
 gap: 45px;
 justify-content: center;
 margin-top: 50px;
}

.work-col {
 width: 30%;
 display: flex;
 flex-direction: column;
 border: 1px solid #484848;
 border-radius: 10px;
}

.work-box {
 background: #221f1f;
 padding: 20px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;

 p {
  font-size: 16px;
  line-height: 24px;
 }

 .tags {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
 }
 span {
  background: #51535a;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
 }
}

.work-box h3 {
 margin-bottom: 5px;
 font-family: "Poppins";
 font-style: normal;
 font-weight: 700;
 font-size: 26px;
 display: flex;
 align-items: center;
 color: #2dde7e;
}

.work-cta-row {
 display: flex;
 justify-content: space-between;
 a {
  padding: 15px 20px;
  margin: 0;
  text-decoration: none;
 }
}

#what-is {
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 padding: 70px;
 margin-top: 70px;
}

.web3 {
 margin-top: 30px;
 position: relative;
 display: table;
 margin-left: auto;
 margin-right: auto;
 transition: ease-in-out 300ms;
 cursor: pointer;
 &:hover {
  .play-btn {
   transform: scale(1.3);
  }
 }
}

.play-btn {
 position: absolute;
 margin: auto;
 display: table;
 left: 0;
 right: 0;
 bottom: 0;
 top: 0;
 transform: scale(1);
 transition: ease-in-out 300ms;
 &:hover {
  transform: scale(1.3);
 }
}

.team-row {
 display: flex;
 flex-wrap: wrap;
 gap: 45px;
 justify-content: center;
 margin-top: 50px;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
}

.team-col {
 width: 230px;
 display: flex;
 flex-direction: column;
 border-radius: 10px;
 text-align: center;
 gap: 10px;

 .avatar {
  max-width: 98px;
  display: table;
  margin: auto;
 }
}

.team-social {
 display: flex;
 gap: 20px;
 justify-content: center;
}

.testi-col {
 background: #221f1f;
 border: 1px solid #484848;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 30px 20px;
 max-width: 550px;
}

.slick-track {
 display: flex !important;
 gap: 40px;
}

.testimonial-message {
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 36px;
 color: #ffffff;
}

.testimonial-person {
 display: flex;
 gap: 20px;
 margin-top: 15px;
 align-items: center;
}

.testimonial-name {
 font-weight: 700;
 font-size: 24px;
 line-height: 32px;
}

#testimonials {
 margin-top: 100px;
}

.testimonial-row {
 margin-top: 100px;
}
.slick-slide {
 opacity: 0.5;
 transition: ease-in-out 300ms;
 position: relative;
 top: 0px;
}

.slick-slide.slick-center {
 opacity: 1;
 top: -50px;
}

.testimonial-row .slick-list {
 overflow: visible;
}

.slick-slider {
 button {
  position: absolute;
  bottom: 0;
 }
}

.prev {
 display: block;
 position: absolute;
 right: 0px;
 /* transform: translateY(-50%); */
 z-index: 1000;
 left: -140px;
 margin: auto;
 width: 35px;
 height: 25px;
 background-image: url(../images/previous.svg);
 display: block;
 z-index: 3;
 background-repeat: no-repeat;
 cursor: pointer;
 bottom: -12px;
}

.next {
 display: block;
 position: absolute;
 right: 0px;
 /* top: 50%; */
 transform: translateY(-50%);
 z-index: 1000;
 left: 0;
 margin: auto;
 width: 84px;
 height: 50px;
 background-image: url(../images/next.svg);
 display: block;
 z-index: 3;
 background-repeat: no-repeat;
 cursor: pointer;
}

#contact {
 max-width: 800px;
 margin: 120px auto 30px;
}

.contact-heading {
 text-align: center;
 margin-bottom: 30px;
 h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2dde7e;
 }
 p {
  font-size: 18px;
  line-height: 27px;
 }
}
.contact-form {
 display: flex;
 flex-direction: column;
 gap: 20px;
 input {
  width: 100%;
 }
}

.contact-row {
 display: flex;
 gap: 20px;
 input {
  width: 100%;
  background: #221f1f;
  border: 2px solid #484848;
  border-radius: 10px;
  padding: 15px 30px;
 }

 textarea {
  width: 100%;
  background: #221f1f;
  border: 2px solid #484848;
  border-radius: 10px;
  padding: 15px 30px;
  max-height: 340px;
  resize: none;
 }
}

.checkbox-row {
 display: flex;
 gap: 10px;
 align-items: center;
 line-height: 20px;

 input {
  width: 29.67px;
  height: 29.67px;
  background: #484848;
  border-radius: 4px;
 }
}

.contact-form-cta {
 text-align: center;
 margin-bottom: 30px;
 button {
  cursor: pointer;
  background: var(--primary);
  color: var(--black);
  text-decoration: none;
  border-radius: 6px;
  padding: 18px 64px;
  border: 1px solid var(--primary);
  transition: ease-in-out 150ms;
  display: inline-block;
  font-weight: 600;
  &:hover {
   background: none;
   color: white;
   border: 1px solid var(--primary);
  }
 }
}

footer {
 max-width: 1200px;
 margin: auto;
 border-top: 3px solid #484848;
 padding: 20px 0px;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 20px;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 5px;
 span {
  font-size: 12px;
 }
 div {
  border-right: 1px solid #484848;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  &:last-child {
   border: 0px;
  }
 }
 a {
  color: white;
  text-decoration: none;
 }
}

.bg-x-effect {
 position: relative;
 &::before {
  position: absolute;
  content: "";
  background: url(../images/green-circle.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: -200px;
  z-index: -1;
 }

 &::after {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  z-index: -1;
  width: 670px;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: -100px;
  right: 0px;
 }
}

.blockchain-section-effect {
 position: relative;
 &::before {
  position: absolute;
  content: "";
  background: url(../images/small-circle.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: 130px;
  z-index: -1;
  left: -20vw;
 }

 &::after {
  position: absolute;
  content: "";
  background: url(../images/small-circle.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: 130px;
  z-index: -1;
  right: calc(100vw - 160vw);
 }
}

.work-section-effect {
 position: relative;
 &::before {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  bottom: -757px;
  z-index: -1;
  left: -172px;
  background-size: 30%;
 }

 // &::after {
 //  position: absolute;
 //  content: "";
 //  background: url(../images/small-circle.png);
 //  width: 100%;
 //  height: 1600px;
 //  display: block;
 //  background-repeat: no-repeat;
 //  top: 130px;
 //  z-index: -1;
 //  right: calc(100vw - 160vw);
 // }
}

.web3-section-effect {
 position: relative;
 &::before {
  position: absolute;
  content: "";
  background: url(../images/small-circle.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: 130px;
  z-index: -1;
  left: -20vw;
 }

 &::after {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: 35%;
  z-index: -1;
  right: calc(100vw - 176vw);
  background-size: 30%;
 }
}

.testimonial-section-effect {
 position: relative;
 &::before {
  position: absolute;
  content: "";
  background: url(../images/small-circle.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: -40px;
  z-index: -1;
  left: -20vw;
 }

 // &::after {
 //  position: absolute;
 //  content: "";
 //  background: url(../images/x-bg.png);
 //  width: 100%;
 //  height: 1600px;
 //  display: block;
 //  background-repeat: no-repeat;
 //  top: 35%;
 //  z-index: -1;
 //  right: calc(100vw - 176vw);
 //  background-size: 30%;
 // }
}

.footer-section-effect {
 position: relative;
 // &::before {
 //  position: absolute;
 //  content: "";
 //  background: url(../images/small-circle.png);
 //  width: 100%;
 //  height: 1600px;
 //  display: block;
 //  background-repeat: no-repeat;
 //  top: -40px;
 //  z-index: -1;
 //  left: -20vw;
 // }

 &::after {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  width: 100%;
  height: 1600px;
  display: block;
  background-repeat: no-repeat;
  top: -37vh;
  z-index: -1;
  right: calc(100vw - 167vw);
  background-size: 25%;
 }
}

video {
 width: 100%;
}

.daniyal {
 transform: scale(1.2);
 position: relative;
 top: -10px;
}

.designation {
 color: #bdbdbd;
}

.work-load-more-btn {
 margin: 40px auto;
 display: flex;
 justify-content: center;
}
