@media only screen and (max-width: 763px) {
 .modal .modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 20px;
  background: #2a2a2a;
  border-radius: 10px;
  border: 1px solid #545454;

  .primary-cta {
   margin-bottom: 20px;
  }
 }

 .modal .modal-content {
  opacity: 0;
  background: none;
  border-radius: 3px;
 }
 .modal .modal-body div {
  justify-content: center;
 }

 .modal-body img {
  max-height: 300px;
  margin: 20px;
 }
}

@media only screen and (max-width: 1023px) {
 #d-menu {
  display: none;
 }

 #menuToggle {
  position: absolute;
  z-index: 10;
  right: 20px;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
  top: 26px;
 }

 .hero-content {
  padding: 0px 30px;
 }

 .we-do {
  font-size: 26px;
 }

 .hero-heading {
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 20px;
 }

 .heading-container h2 {
  font-size: 34px;
  line-height: 46px;
 }

 .center-para {
  font-size: 15px;
  line-height: 27px;
 }

 section {
  padding-left: 30px;
  padding-right: 30px;
 }

 .expertise-row {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  text-align: center;
 }

 .expert-icon {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
 }
 #work {
  margin-top: 100px;
 }

 .work-row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top: 50px;
 }

 .work-col {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid #484848;
  border-radius: 10px;
  width: auto;
 }

 .hero-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  background-size: contain;
  left: 0;
 }

 .hero-section::after {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  top: -100px;
  right: 0px;
  background-size: contain;
  background-position: right;
 }

 .blockchain-section-effect::before {
  background-repeat: no-repeat;
  top: 130px;
  z-index: -1;
  left: -50%;
  background-size: contain;
 }

 .blockchain-section-effect::after {
  position: absolute;
  content: "";
  background: url(../images/small-circle.png);
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  top: 570px;
  z-index: -1;
  right: -50%;
  background-size: contain;
 }

 .web3 {
  img {
   width: 100%;
  }
 }

 .play-btn {
  img {
   width: 80px;
  }
 }

 .web3-section-effect::before {
  left: -38vw;
  background-size: contain;
 }
 .web3-section-effect::after {
  width: 100%;
  height: 100%;
  top: 200%;
  z-index: -1;
  right: 0;
  background-size: contain;
  background-position: right;
 }

 #what-is {
  padding: 0px 30px;
  margin-top: 125px;
  margin-bottom: 125px;
 }

 .testi-col {
  flex-direction: column;
  padding: 30px 20px;
  max-width: 322px;
 }
 .testimonial-message {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
 }
 .testimonial-designation {
  font-size: 15px;
  line-height: 18px;
 }
 .slick-track {
  gap: 20px;
 }

 .checkbox-row {
  font-size: 14px;
 }

 footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;

  div {
   border-right: 0px solid #484848;
  }
 }

 .expertise-column {
  width: 340px;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 1500px) {
 .hero-content {
  padding: 0px 30px;
 }

 .we-do {
  font-size: 30px;
 }

 .hero-heading {
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 20px;
 }

 .heading-container h2 {
  font-size: 54px;
  line-height: 46px;
 }

 .center-para {
  font-size: 16px;
  line-height: 27px;
 }

 section {
  padding-left: 30px;
  padding-right: 30px;
 }

 .expertise-row {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  text-align: center;
 }

 .expert-icon {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
 }
 #work {
  margin-top: 100px;
 }

 .work-row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top: 50px;
 }

 .work-col {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid #484848;
  border-radius: 10px;
  width: auto;
 }

 .hero-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  background-size: contain;
  left: 0;
 }

 .hero-section::after {
  position: absolute;
  content: "";
  background: url(../images/x-bg.png);
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  top: -100px;
  right: 0px;
  background-size: contain;
  background-position: right;
 }

 .blockchain-section-effect::before {
  background-repeat: no-repeat;
  top: 130px;
  z-index: -1;
  left: -50%;
  background-size: contain;
 }

 .blockchain-section-effect::after {
  position: absolute;
  content: "";
  background: url(../images/small-circle.png);
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  top: 570px;
  z-index: -1;
  right: -50%;
  background-size: contain;
 }

 .web3 {
  img {
   width: 100%;
  }
 }

 .play-btn {
  img {
   width: 80px;
  }
 }

 .web3-section-effect::before {
  left: -38vw;
  background-size: contain;
 }
 .web3-section-effect::after {
  width: 100%;
  height: 100%;
  top: 200%;
  z-index: -1;
  right: 0;
  background-size: contain;
  background-position: right;
 }

 #what-is {
  padding: 0px 30px;
  margin-top: 125px;
  margin-bottom: 125px;
 }

 .testi-col {
  flex-direction: column;
  padding: 30px 20px;
  max-width: 322px;
 }
 .testimonial-message {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
 }
 .testimonial-designation {
  font-size: 15px;
  line-height: 18px;
 }
 .slick-track {
  gap: 20px;
 }

 .checkbox-row {
  font-size: 14px;
 }

 footer {
 }

 .expertise-column {
  width: 340px;
 }
}

@media only screen and (min-width: 1281px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1023px) {
 #mobile_menu,
 #menuToggle {
  display: none;
 }
}
